
  <script type="text/javascript" src="/js/scripts.js"></script>
  <% if (locals.js) {
  	for (var i = 0; i < js.length; i++) { %>
  		<script type="text/javascript" src="<%= js[i] %>"></script>
  	<% }
  } %>
  </body>
</html>
