<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %> | mattleachdigital.com</title>
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Merriweather" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <% if (locals.css) {
    	for (var i = 0; i < css.length; i++) { %>
    		<link rel="stylesheet" type="text/css" href="<%= css[i] %>">
    	<% }
    } %>
  </head>
  <body class="site">
    <nav id="site-nav" class="site-nav">
      <i id="navButton" class="fa fa-bars fa-2x" aria-hidden="true" onclick="toggleNav()"></i>
      <ul>
        <li><a href="/"<% if (nav == 'home') { %> class="current"<% } %>>Home</a></li>
        <li><a href="/blog"<% if (nav == 'blog') { %> class="current"<% } %>>Blog</a></li>
        <li><a href="/contact"<% if (nav == 'contact') { %> class="current"<% } %>>Contact</a></li>
      </ul>
    </nav>