.form-item {
	label {
		display: block;
	}

	input, textarea {
		width: 100%;
		padding: 9px;
		box-sizing: border-box;
	}

	&.half-width {
		width: 49%;
		
		&.left {
			float: left;
		}

		&.right {
			float: right;
		}
	}
}