body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
  background: $background-color;
}

.clearfix {
	clear: both;
	overflow: hidden;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 2px 5px;
	overflow: hidden;
}

/*
 *
 * Call to Action
 *
 */

a.cta, button.cta {
	font-size: $font-base;
	background: none;
	border-radius: 20px;
	margin: 0 5px;
	padding: 5px 10px;
	text-decoration: none;

	&.light {
		color: $background-color;
		border: 2px solid $background-color;

		&:hover {
			color: $selected-color;
		}
	}

	&.dark {
		color: $selected-color;
		border: 2px solid $selected-color;

		&:hover {
			color: $background-color;
			background: $primary-color;
		}
	}
}