// Section Styles

.section {
	.third {
		width: 33.3333%;
		float: left;
		.fa {
			color: $primary-color;
			font-size: 3em;
		}
	}
}

// Home page styles

.about-me {
	clear: both;
	overflow: hidden;

	img {
		float: left;
		width: 25%;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border: 1px solid black;
	}

	h2, h3 {
		float: right;
		width: 70%;
		padding: 0;
		margin: 0;

	}
}

.home-page {
	width: 100%;
	height: 100%;
	@include linear-gradient(141deg, $primary-color, $secondary-color);
}

.home-page-contents {
	color: $background-color;
	@include middle();
	padding-bottom: 50px;
	text-align: center;
	width: 95%;

	h1 {
		margin: 0;
	}

	p {
		margin-top: 0;
	}
}

// Blog page styles

.blog-page {
	position: relative;
	width: 100%;
	height: 250px;
	@include linear-gradient(141deg, $primary-color, $secondary-color);
	margin-bottom: 15px;

	.blog-page-header {
		text-align: center;
		color: $background-color;
		@include middle();
		width: 95%;

		h1, p {
			margin: 0;
		}
	}
}

@media (max-width: 500px) {
	.blog-page {
		height: 150px;
	}
}

article.singlePost {
	@include border-radius(5px);
  background: #fff;
  padding: 10px;
  margin: 10px 0;

  a {
  	text-decoration: none;

  	h2 {
  		color: $selected-color;
  		margin: 5px 0;
  	}

  	&:hover h2 {
  		color: $primary-color;
  	}
  }

  .post-date {
  	margin-top: 0;

  }
}

// Portfolio page styles

article.singlePortfolio {
	@include border-radius(5px);
  background: #fff;
  padding: 10px;
  margin: 10px 0;
  text-align: center;

  .portfolio-title {
  	color: $primary-color;
  }

  .portfolio-item {
  	overflow: hidden;

  	.portfolio-details {
	  	padding-bottom: 15px;

	  	h3 {
	  		margin-bottom: 5px;
	  	}

	  	&.left {

	  	}

	  	&.right {

	  	}
	  }

	  .portfolio-image img {
	  	max-width: 100%;
	  }
  }
}

@media (min-width: 800px) {
	article.singlePortfolio {
		
	  .portfolio-title {
	  
	  }

	  .portfolio-item {
	  	
	  	.portfolio-details {
		  	width: 43%;

		  	&.left {
		  		float: left;
		  	}

		  	&.right {
		  		float: right;
		  	}
		  }

		  .portfolio-image {
		  	width: 55%;

		  	&.left {
		  		float: left;
		  	}

		  	&.right {
		  		float: right;
		  	}
		  }
	  }

	  .portfolio-testimonial {
	  	max-width: 750px;
	  	margin: 0 auto;
	  }
	}
}