/*
 *
 * Colour Variables
 *
 */

$background-color: #f8f8f8;
$primary-color: #DC3522;
$secondary-color: #1E1E20;
$baseColor-one: #D9CB9E;
$baseColor-two: #374140;
$baseColor-three: #2A2C2B;

/*
 *
 * Typography Variables
 *
 */

$sans-font: 'Francois One', sans-serif;
$serif-font: 'Merriweather', serif;

/*
 *
 * Navigation Variables
 *
 */
$navbar-custom-bg: $background-color;
$navbar-custom-border: $background-color;
$navbar-custom-brand-color: $secondary-color;
$navbar-custom-brand-hover-color: #5e5e5e;
$navbar-custom-brand-hover-bg: transparent;
$navbar-custom-color: $secondary-color;
$navbar-custom-link-color: $secondary-color;
$navbar-custom-link-hover-color: $primary-color;
$navbar-custom-link-hover-bg: transparent;
$navbar-custom-link-active-color: #555;
$navbar-custom-link-active-bg: #e7e7e7;
$navbar-custom-link-disabled-color: #ccc;
$navbar-custom-link-disabled-bg: transparent;
$navbar-custom-toggle-border-color: #ddd;
$navbar-custom-toggle-hover-bg: #ddd;
$navbar-custom-toggle-icon-bar-bg: #888;
$navbar-custom-link-active-bg: #e7e7e7;
$navbar-custom-link-active-color: #555;