$ratio: 1.414;

/*
 *
 * Colour Variables
 *
 */

$background-color: #ECF0F1;
$primary-color: #3498DB;
$secondary-color: #2980B9;
$selected-color: #2C3E50;

/*
 *
 * Typography Variables
 *
 */

$head-font: 'Francois One', sans-serif;
$body-font: 'Merriweather', serif;
$font-base: 1em;