<% include ./includes/header %>

<div class="blog-page">
	<div class="container">
		<div class="blog-page-header">
			<h1>Contact Me</h1>
		</div>
	</div>
</div>

<div class="container">
	<form>
		<div class="form-item half-width left">
			<label for="name">Name</label>
			<input type="text" name="name">
		</div>
		<div class="form-item half-width right">
			<label for="email">Email</label>
			<input type="text" name="email">
		</div>
		<div class="form-item half-width left">
			<label for="phone">Phone</label>
			<input type="text" name="phone">
		</div>
		<div class="form-item half-width right">
			<label for="reason">Reason for contact</label>
			<input type="text" name="reason">
		</div>
		<div class="form-item">
			<label for="message">Message</label>
			<textarea name="message" rows="20"></textarea>
		</div>
	</form>
</div>

<% include ./includes/footer %>