<% include ./includes/header %>

<div class="home-page">
	<div class="container">
		<div class="home-page-contents">
			<h1>Matt Leach</h1>
			<p>HTML &middot; CSS &middot; Javascript &middot; NodeJS and more ...</p>
			<a role="button" class="cta" href="/">Portfolio</a>
			<a role="button" class="cta" href="/">Visit Blog</a>
		</div>
	</div>
</div>

<% include ./includes/footer %>