<% include ./includes/header %>

<div class="blog-page">
	<div class="container">
		<div class="blog-page-header">
			<h1>Matt Leach</h1>
			<p>Web Developer</p>
		</div>
	</div>
</div>

<!--
<div class="home-page">
	<div class="container">
		<div class="home-page-contents">
			<h1>Matt Leach</h1>
			<p>HTML &middot; CSS &middot; Javascript &middot; NodeJS and more ...</p>
			<a role="button" class="cta light" href="/blog">Visit Blog</a>
		</div>
	</div>
</div>
-->

<div class="container">
	<div class="about-me">
		<img src="/imgs/profile-pic300x300.png">
		<h2>Web Developer</h2>
		<h3>I have a passion for creating bespoke web solutions</h3>
	</div>

	<div class="section center text-center">
		<h3>What I do</h3>
		<div class="third">
			<i class="fa fa-code" aria-hidden="true"></i>
			<p>I hand code everything in HTML, CSS and Javascript. Coding from scratch means I know exactly what my code is doing.</p>
		</div>
		<div class="third">
			<i class="fa fa-bolt" aria-hidden="true"></i>
			<p>I focus on performance. Making sure pages load quickly on all devices and screen sizes for the best possible user experiance.</p>
		</div>
		<div class="third">
			<i class="fa fa-search" aria-hidden="true"></i>
			<p>I ensure that my projects get the very best SEO results</p>
		</div>
	</div>
</div>

<% include ./includes/footer %>