<% include ./includes/header %>

<div class="blog-page">
	<div class="container">
		<div class="blog-page-header">
			<h1>Portfolio</h1>
		</div>
	</div>
</div>

<div class="container">
	<article class="singlePortfolio">
		<h2 class="portfolio-title">Livin The Dream Music Academy</h2>
		<div class="portfolio-item">
			<div class="portfolio-details left">
				<h3>Role</h3>
				<p>Sole Developer</p>
				<h3>The Objective</h3>
				<p>I was asked to design and develop a WordPress website for a new music academy based in Australia. They wanted the site to have a modern rock style as well as being easy to use and navigate. They also wanted to have the ability to add an online shopping cart in the near future for selling music accessories</p>
				<a href="http://livinthedreammusic.com/" role="button" class="cta dark">Visit Site</a>
			</div>
			<div class="portfolio-image right">
				<img src="/imgs/livinthedream.jpg">
			</div>
		</div>
		<div class="portfolio-testimonial">
			<p><em>"The site you built for Livin' The Dream Music Academy is excellent and a testament to your skill set. Everyone, I highly recommend Matt as a real professional in his field"</p>
			<small>Tyrone Coates<br />Livin' The Dream Music Academy</em></small>
		</div>
	</article>
</div>

<% include ./includes/footer %>