body, html {
	padding: 0;
	margin: 0;
}

body {
  background: #f8f8f8;
}

.header {
  position: relative;
  height: 400px;
  background: url('/imgs/head.jpg') no-repeat center center;
  background-size: cover;
}

.header-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

.header-contents h1 {
  margin: 0;
  font-size: 5em;
}

.header-contents h2 {
  margin: 0;
}

article.singlePost {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}